.sign-up-container{
    width: 1440px;
    height: 900px;
    padding: 0px, 354px, 0px, 354px;
    background: #F8FAFC;
    justify-content: center; 
    display:flex;
}
.sign-up-box{
    width: 450px;
    height: 900px;
    background: #F8FAFC;
    justify-content: center;
}
.sign-up-header{
    width: auto;
    left: 164px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 700;
    color: #0F172A;
    align-items: center;
    justify-content: center; 
    margin-bottom: 15px;
}
.user-input{
    width: 404px;
    height: 70px;
    padding: 5px, 8px, 5px, 8px;
    border-radius: 12px;
    border: 1px;
    margin-top: 4px;
    margin-bottom: 4px;
} 
#name,#phone,#email,#password,#password-confirm{
    height: 45px;
} 
/* #name{
    background-image: url("C:\wamp64\www\Ticket_CMR\resources\svg icons\user.svg");
} */
.agree-checkbox{
    width: 404px;
    height: 56px;
    padding: 8px, 16px, 8px, 16px;
    border-radius: 12px;
    border: 1px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}
#my-checkbox{
    margin-top:none;
    margin-bottom: 32px;
    margin-right: 10px;
}
.sign-up-button{
    width: 404px;
    height: 56px;
    /* top: 547px;
    left: 164px; */
    padding: 8px;
    border-radius: 12px ;
    border-color: white;
    color: white;
    /* font-size: 25px; */
    background-color: #7F56D8;
    text-align: center;   

}  
/* .button-text{
    width: 62px
    height: 22px
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
} */